# to ignore previous checked-in folders
# git rm -r --cached folder
*pyc
testInput/personal
testOutput/personal
changedFiles
testOutput
dependencies
testInput
dependencies/freebayes
dependencies/vt
baseChangeBias/output
baseChangeBias/.RData
baseChangeBias/.Rhistory
TIIIRegions.txt
baseChangeBias/oncoSites.txt
baseChangeBias/oncoGenes.txt
varAlleleFrequency/plotVarFreq.R
varAlleleFrequency/vafRepeatability.jpg
varAlleleFrequency/vafRepeatability.txt
varAlleleFrequency/vafRepeatabilityNoRegression.jpg
varAlleleFrequency/vafRepeatabilityRegression.jpg
varAlleleFrequency/plotvafRepeatability.R
varAlleleFrequency/run.sh
varAlleleFrequency/.RData
varAlleleFrequency/.Rhistory
varAlleleFrequency/vafPlotting.txt
varAlleleFrequency/output*
varAlleleFrequency/plotOnProbe.png
varAlleleFrequency/*png
varAlleleFrequency/*jpg
fastqHanding/entireProbedRegion.txt
mutationOrigins/run.sh
main/run
main/probeBias.pdf
jobCheck
vcfToSeq/*pkl
